<!--
  Generated template for the AjustesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button
              icon-only
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button
          color="morado"
          (click)="mostrar_modal()" block outline>
    Mostrar Modal
  </button>
</ion-content>
