<!--
  Generated template for the Pagina2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>pagina2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Enviando con evento</h1>
  <ion-list>
    <ion-item *ngFor="let m of mutantes" (click)="pagina3(m)">
      {{ m.nombre }}
    </ion-item>
  </ion-list>

  <h1>Enviando con HTML</h1>
  <ion-list>
    <ion-item *ngFor="let m of mutantes" [navPush]="pag3" [navParams]="{'personaje' : m}">
      {{ m.nombre }}
    </ion-item>
  </ion-list>

</ion-content>
