<!--
  Generated template for the PrincipalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button
              icon-only
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Principal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button
          block
          color="primary"
          (click)="navegar()">
    Ir a la pagina 2
  </button>

  <button ion-button
          block
          color="secondary"
          [navPush]="pagina2">
    Ir a la pagina 2 - HTML
  </button>
</ion-content>
