<ion-tabs color="primary" selectedIndex="0">
  <ion-tab tabIcon="home" tabTitle="Inicio" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="settings" tabTitle="Ajustes" [root]="tab2"></ion-tab>
</ion-tabs>
