<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button
              icon-only
              (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Modal Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Modal!</h1>
  <h5>Nombre : {{ name }}</h5>
  <h5>Edad : {{ age }}</h5>

  <button ion-button
          block
          color="primary"
          (click)="close_params()">
    Cerrar con parametros
  </button>

  <button ion-button
          block
          color="secondary"
          (click)="close()">
    Cerrar Sin parametros
  </button>

</ion-content>
