<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Paginas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="cambiar(tabs)">
        Tabs
      </button>
      <button ion-item (click)="cambiar(ajustes)">
        Ajustes
      </button>
      <button ion-item (click)="cambiar(ajustes2)">
        Ajustes 2
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav  [root]="rootPage" #content></ion-nav>
